<!DOCTYPE html>
<html>
<title>Renberi.com</title>
    <link rel="icon" href="bed.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="w3-theme-teal.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <style> .textarea{height:12em;}</style>
<body>

    <!--TOP NAV MENU START PC-->
<div class="w3-top w3-hide-small w3-hide-medium">
<div class="w3-card-4">
<header class="w3-container w3-theme w3-row">
    <h1 class="w3-col m10"><img src="Renberi_name.png" class="w3-margin-left" style="width:300px"></h1>
<div class="w3-topnav w3-col m2">
    <p class="w3-right w3-tiny">Adult Social Media</p>
</div>
</header>
</div>

    <div class="w3-topnav w3-center w3-theme-l4 w3-container w3-row">

        <a class="w3-btn w3-theme-l3 w3-col s3 w3-border-right" href="Home.html">
           <i class="w3-margin-right fa fa-home"></i>Home</a>

        <a class="w3-btn w3-theme-d2 w3-col s3 w3-border-right" href="Rendezvous.html">
           <i class="w3-margin-right fa fa-bed"></i>Rendezvous</a>

        <a class="w3-btn w3-theme-d2 w3-col s3 w3-border-right" href="Search.html">
            <i class="w3-margin-right fa fa-search"></i>Search</a>

        <a class="w3-btn w3-theme-d2 w3-col s3 w3-border-right" href="Profile.html">
            <i class="w3-margin-right fa fa-user"></i>My Profile</a>
    </div>
</div>
   <!--TOP NAV MENU END PC-->

   <!--TOP HEADER START MOBILE-->
<div class="w3-hide-large">
    <div class="w3-card-4">
        <header class="w3-container w3-theme">
            <p class="w3-right w3-tiny">Adult Social Media</p>
            <h4 class="w3-small"><i class="w3-margin-right fa fa-home"></i>Home</h4>
        </header>
    </div>
</div>
  <!--TOP HEADER END MOBILE-->

  <!--BOTTOM NAV MENU START MOBILE-->
<div class="w3-bottom w3-hide-large">
    <div class="w3-center w3-row w3-large">

        <a class="w3-btn w3-theme-l3 w3-col s3 w3-border-right" href="Home.html">
           <i class="w3-margin-right fa fa-home"></i></a>

        <a class="w3-btn w3-theme-d2 w3-col s3 w3-border-right" href="Rendezvous.html">
           <i class="w3-margin-right fa fa-bed"></i></a>

        <a class="w3-btn w3-theme-d2 w3-col s3 w3-border-right" href="Search.html">
            <i class="w3-margin-right fa fa-search"></i></a>

        <a class="w3-btn w3-theme-d2 w3-col s3 w3-border-right" href="Profile.html">
            <i class="w3-margin-right fa fa-user"></i></a>
    </div>
</div>
   <!--BOTTOM NAV MENU END MOBILE-->


    <!--start content area-->
<div class="w3-content">

    <!--start notification-->
        <div class="w3-card-4 w3-theme-l5 w3-padding w3-center" style="margin-top:15%;">
            <a href="notifications.html" style="text-decoration: none;;">
            <span class="w3-wide w3-hide-small w3-hide-medium w3-large">
                <i class="w3-margin-left fa fa-heart"></i>1 New Like</span>
            <span class="w3-wide w3-hide-large w3-small">
                <i class="w3-margin-left fa fa-heart"></i>1 New Like</span>
            </a>
        </div>
        <!--end notification-->


    <!--author post start-->
    <div class="w3-card-4" style="margin-top:15%; margin-bottom:15%;">



        <header class="w3-container">

            <!--user name pc start-->
   <div class="w3-hide-small w3-hide-medium w3-margin-top">
    <a href="#" style="text-decoration: none;">
      <img src="fatties_love_ranch.jpg" class="w3-left w3-circle w3-margin-right" style="width:65px; height:65px">
        <span class="w3-xlarge w3-text-theme"><b>fatties_love_ranch</b></span><br>
        </a>
      <span class="w3-small">11/19/2016 3:05 pm</span>
    </div>
            <!--user name pc end-->

            <!--user name mobile start-->
   <div class="w3-hide-large w3-margin-top">
    <a href="#" style="text-decoration: none;">
      <img src="fatties_love_ranch.jpg" class="w3-left w3-circle w3-margin-right" style="width:45px; height:45px;">
      <span class="w3-small w3-text-theme"><b>fatties_love_ranch</b></span><br>
        </a>
      <span class="w3-tiny">11/19/2016 3:05 pm</span>
   </div>
            <!--user name mobile end-->

     </header>


            <!--posted content image pc start-->
      <div class="w3-image w3-margin-top w3-center w3-hide-small w3-hide-medium">
        <img src="fatties_love_ranch2.jpg" style="height:658px;">
      </div>
       <!--posted content image pc end-->

        <!--posted content image mobile start-->
      <div class="w3-image w3-margin-top w3-hide-large">
        <img src="fatties_love_ranch2.jpg" style="100%;">
      </div>
       <!--posted content image modile end-->

        <!--posted content nav menu start-->
    <div class="w3-row">
        <button onclick="document.getElementById('id01').style.display='block'"
                class="w3-btn w3-teal w3-col s4  w3-border-right">
        <i class="w3-margin-right fa fa-comment-o"></i><span class="w3-hide-small w3-hide-medium">Comment</span></button>

        <button class="w3-btn w3-teal w3-col s4  w3-border-right">
        <i class="w3-margin-right fa fa-heart-o"></i><span class="w3-hide-small w3-hide-medium">Like</span></button>

        <button onclick="document.getElementById('id03').style.display='block'" class="w3-btn w3-teal w3-col s4">
        <i class="w3-margin-right fa fa-trash-o"></i><span class="w3-hide-small w3-hide-medium">Delete</span></button>
     </div>
        <!--posted content nav menu end-->

        <!--comment popup box start-->
<div id="id44" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-border-bottom w3-theme">
        <div class="w3-hide-small w3-hide-medium">
      <span onclick="document.getElementById('id44').style.display='none'" class="w3-closebtn">&times;</span>
            <h4><i class="w3-margin-right fa fa-comment-o"></i>Comment</h4>
        </div>
        <div class="w3-hide-large">
        <span onclick="document.getElementById('id44').style.display='none'" class="w3-closebtn w3-small">&times;</span>
            <h4 class="w3-small"><i class="w3-margin-right fa fa-comment-o"></i>Comment</h4>
        </div>

    </header>
    <div class="w3-container">
        <form class="w3-form w3-input-group">
        <textarea class="w3-input w3-border textarea w3-small" maxlength="950" placeholder="Write a comment here..."></textarea>
        <button class="w3-btn w3-theme w3-right w3-margin-top w3-margin-bottom w3-small"><i class="w3-margin-right fa fa-comment-o"></i>Post</button>
       </form>
    </div>
  </div>
</div>
        <!--comment popup box end-->


        <br>
        <div class="w3-row">
          <!--likes counter start-->
            <div class="w3-hide-small w3-hide-medium">
            <div onclick="document.getElementById('id014').style.display='block'"  style="cursor:pointer;"
         class="w3-container w3-text-theme w3-col s10"><i class="w3-margin-right fa fa-heart"></i>1,026</div>
            </div>
            <div class="w3-hide-large w3-small">
            <div onclick="document.getElementById('id014').style.display='block'"  style="cursor:pointer;"
         class="w3-container w3-text-theme w3-col s10"><i class="w3-margin-right fa fa-heart"></i>1,026</div>
            </div>
          <!--likes counter end-->


        <!--edit popup box button start-->
          <div class="w3-hide-small w3-hide-medium">
        <button onclick="document.getElementById('id015').style.display='block'"
        class="w3-btn w3-col s2 w3-white"><i class="w3-text-black-opacity w3-margin-right fa fa-cog"></i></button>
            </div>
            <div class="w3-hide-large w3-small">
            <button onclick="document.getElementById('id015').style.display='block'"
        class="w3-btn w3-col s2 w3-white"><i class="w3-text-black-opacity w3-margin-right fa fa-cog"></i></button>
            </div>
        </div>
        <br>
        <!--edit popup box button end-->


            <!--popup container like list start-->
<div id="id014" class="w3-modal">
  <div class="w3-modal-content w3-animate-bottom w3-card-4">
    <header class="w3-container w3-teal">

        <div class="w3-hide-small w3-hide-medium">
      <span onclick="document.getElementById('id014').style.display='none'" class="w3-closebtn">&times;</span>
      <h4><i class="w3-margin-right fa fa-heart"></i>Likes 1,026</h4>
        </div>

         <div class="w3-hide-large">
        <span onclick="document.getElementById('id014').style.display='none'" class="w3-closebtn w3-small">&times;</span>
      <h4 class="w3-small"><i class="w3-margin-right fa fa-heart"></i>Likes 1,026</h4>
        </div>

    </header>
    <div class="w3-container">

        <!--Like content start-->
        <a href="#">
        <div class="w3-border w3-margin-top w3-margin-bottom w3-card-8">
        <div class="w3-theme-l3 w3-row">
        <div class="w3-col s3">
            <span class="w3-hide-small w3-hide-medium">
        <img src="fatties_love_ranch.jpg" class="w3-circle w3-margin" style="width:100px; height:100px">
            </span>
            <span class="w3-hide-large">
        <img src="fatties_love_ranch.jpg" class="w3-circle" style="width:50px; height:50px">
            </span>
        </div>
            <div class="w3-col s9 w3-center w3-wide w3-hide-small w3-hide-medium" style="margin-top:5%;">
                <span class="w3-xlarge"><b>fatties_love_ranch</b></span><br>
            <span class="w3-small  w3-text-theme">11/19/2016 3:05 pm</span>
            </div>

            <div class="w3-col s9 w3-center w3-hide-large w3-small" style="margin-top:2%;">
                <span class="w3-small"><b>fatties_love_ranch</b></span><br>
            <span class="w3-tiny w3-text-theme">11/19/2016 3:05 pm</span>
            </div>
        </div>
        </div>
            </a>
        <!--Like content end-->



    </div>

  </div>
</div>
    <!--popup container likes list end-->


<% @posts.each do |post| %>
        <!--popup container edit start-->
        <div id="id015" class="w3-modal">
  <div class="w3-modal-content w3-animate-bottom w3-card-4">
    <header class="w3-container w3-teal">
        <div class="w3-hide-small w3-hide-medium">
        <span onclick="document.getElementById('id015').style.display='none'" class="w3-closebtn">&times;</span>
      <h4><i class="w3-margin-right fa fa-camera"></i>Edit Post</h4>
        </div>
        <div class="w3-hide-large">
      <span onclick="document.getElementById('id015').style.display='none'" class="w3-closebtn w3-small">&times;</span>
      <h4 class="w3-small"><i class="w3-margin-right fa fa-camera"></i>Edit Post</h4>
        </div>

    </header>
        <div class="w3-content w3-card-4 w3-container w3-theme-l5">
        <!--post picture start-->
      <div class="w3-margin-bottom">

          <h4 class="w3-text-black-opacity w3-theme-l4 w3-container w3-hide-small w3-hide-medium">
                <i class="w3-margin-right w3-text-black-opacity fa fa-file-photo-o"></i>Posted Image</h4>

            <h4 class="w3-text-black-opacity w3-theme-l4 w3-container w3-hide-large w3-small">
                <i class="w3-margin-right w3-text-black-opacity fa fa-file-photo-o"></i>Posted Image</h4>

          <div class="w3-center w3-container">
            <!--posted content image start-->
      <div class="w3-image w3-hide-small w3-hide-medium">
        <img src="fatties_love_ranch2.jpg" style="height:658;">
      </div>

      <div class="w3-image w3-hide-large">
        <img src="fatties_love_ranch2.jpg" style="width:100%">
      </div>
       <!--posted content image end-->
          </div>
     </div>
         <!--post picture end-->
    <form>


        <!--comment start-->
        <div class="w3-border-top w3-margin-bottom">

        <h4 class="w3-text-black-opacity w3-margin-top w3-theme-l4 w3-container w3-hide-small w3-hide-medium">
            <i class="w3-margin-right w3-text-black-opacity fa fa-quote-right"></i>Edit Caption</h4>

             <h4 class="w3-text-black-opacity w3-margin-top w3-theme-l4 w3-container w3-hide-large w3-small">
            <i class="w3-margin-right w3-text-black-opacity fa fa-quote-right"></i>Edit Caption</h4>

        </div>

     <div class="w3-margin-top">

        <textarea class="w3-input w3-border textarea w3-small" maxlength="950" placeholder="Write stuff here..."></textarea>

     </div>
         <!--comment bio start-->


        <div class="w3-margin-top w3-margin-bottom w3-right">
      <span onclick="document.getElementById('id015').style.display='none'" class="w3-btn w3-teal w3-small">&times;
          <span class="w3-margin-left">Cancel</span></span>
        <!--edit button save start-->
        <button class="w3-btn w3-teal w3-small">
            <i class="w3-margin-right fa fa-save"></i>Save</button>
        <!--edit button save end-->
        </div>
   </form>


       </div>
    </div>
</div>
      <!--popup container edit end-->




        <!--delete popup box start-->
    <div id="id03" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-theme w3-border-bottom">
       <div class="w3-hide-small w3-hide-medium">
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-closebtn">&times;</span>
      <h4><i class="w3-margin-right fa fa-trash"></i>Delete Post</h4>
        </div>
        <div class="w3-hide-large">
        <span onclick="document.getElementById('id03').style.display='none'" class="w3-closebtn w3-small">&times;</span>
      <h4 class="w3-small"><i class="w3-margin-right fa fa-trash"></i>Delete Post</h4>
        </div>
    </header>
    <div class="w3-container w3-center">
        <p class="w3-text-theme w3-hide-small w3-hide-medium">Would you like to delete this post?</p>
        <p class="w3-text-theme w3-hide-large w3-small ">Would you like to delete this post?</p>

        <!--posted content image start-->
      <div class="w3-image w3-margin-top w3-center w3-hide-small w3-hide-medium">
        <img src="fatties_love_ranch2.jpg" style="height:658;">
      </div>

      <div class="w3-image w3-margin-top w3-hide-large">
        <img src="fatties_love_ranch2.jpg" style="width:100%">
      </div>
       <!--posted content image end-->

        <div class="w3-margin-top w3-margin-bottom">
        <button onclick="document.getElementById('id03').style.display='none'"
                   class="w3-btn w3-teal w3-border w3-small">&times;<span class="w3-margin-left">Cancel</span></button>

      <button class="w3-btn w3-teal w3-border w3-small"><i class="w3-margin-right fa fa-trash"></i>Delete</button>
        </div>
    </div>
  </div>
</div>
        <!--delete popup box end-->


     <!--comments list start-->
      <div class="w3-border-top w3-padding" style="margin:0% 2% 0% 2%;">
          <!--comment start-->
        <div class="w3-small w3-margin-top">
              <a href="#" style="text-decoration: none;">
                  <span class="w3-text-theme"><b>fatties_love_ranch:</b></span></a> Hi boys! onec again we are here to see if it will
            work.<span class="w3-tiny w3-text-theme">#biglovin #sexyface</span


          </div>
          <!--comment end-->

          <div class="w3-margin-top"></div>

    </div>
    <!--author post end-->
<% end %>

</div>
    <!--end content area-->
</body>
</html>
